body{
    font-family: 'Fira Mono', monospace;
    background: black;
    color:white;
    text-align: center;
}
code, pre {
    background:#212121;
    padding: 9px;
    border: white;
    border-radius: 10px;
}
a:link, a:visited{
    color:#8ac148;
}
a:hover{
    color: #599014;
}
a:active{
    color: #276200;
}
.link_button{
    background-color: #8ac148;
    text-decoration: none;
    text-align: center;
    color:black !important;
    border-radius: 10px;
    padding: 15px;
}
.link_button:hover{
    background-color: #599014;
}
.link_button:active{
    background-color: #276200;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #212121;
    color: white;
  }